.container{
  height: 100%;
}
.content{
  margin-left: 210px;
  padding: 20px;
  width: calc(100% - 210px);
  height: 100%;
  transition: all 0.3s ease-in-out;
}
.grid {
  height: 100%;
  min-width: 1000px;
  display: grid; /* 网格布局 */

  /* 整体水平垂直居中 */
  justify-content: center;
  align-content: center;

  /* 定义10栏10行 */
  grid-template-columns: 9.6% 9.6% 9.6% 9.6% 9.6% 9.6% 9.6% 9.6% 9.6% 9.6%;
  grid-template-rows: 9.6% 9.6% 9.6% 9.6% 9.6% 9.6% 9.6% 9.6% 9.6% 9.6%;

  /* 定义item之间的间距为20px */
  grid-gap: 0.66%;
}
.grid .item{
  position: relative;
  border: 5px solid white;
  box-shadow: 0 0 2px rgb(26, 129, 225);
  overflow: hidden;
}
.item:nth-child(1){
  grid-row: 1 / 6; 
  grid-column: 1 / 3;
}
.item:nth-child(2){
  grid-row: 1 / 4; 
  grid-column: 3 / 6;
}
.item:nth-child(3){
  grid-row: 1 / 6; 
  grid-column: 6 / 8;
}
.item:nth-child(4){
  grid-row: 6 / 9; 
  grid-column: 1 / 4;
}
.item:nth-child(5){
  grid-row: 9 / 11;
  grid-column: 4 / 5;
}
.item:nth-child(6){
  grid-row: 1 / 5;
  grid-column: 8 / 11;
}
.item:nth-child(7){
  grid-row: 5 / 8;
  grid-column: 8 / 11;
}
.item:nth-child(8){
  grid-row: 6 / 11;
  grid-column: 6 / 8;
}
.item:nth-child(9){
  grid-row: 9 / 11;
  grid-column: 1 / 3;
}
.item:nth-child(10){
  grid-row: 8 / 11;
  grid-column: 8 / 11;
}
.item:nth-child(11){
  grid-row: 9 / 11;
  grid-column: 5 / 6;
}
.item:nth-child(12){
  grid-row: 6 / 9;
  grid-column: 5 / 6;
  background: rgb(26, 129, 225);
  border: 5px solid rgb(26, 129, 225);
}
.item:nth-child(13){
  grid-row: 4 / 6;
  grid-column: 3 / 6;
  background: rgb(26, 129, 225);
  border: 5px solid rgb(26, 129, 225);
}
img{
  width: 100%;
  height: 100%;
}
img:hover{
  transform: scale(1.1);
  transition: all .5s ease-in;
}